{
  "repositoryUrl": "https://github.com/superbet-group/kafka-connect-protobuf-converter",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "target/*with-dependencies.jar"
          }
        ]
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "mv target/kafka-connect-protobuf-converter-v0.0.0-jar-with-dependencies.jar target/kafka-connect-protobuf-converter-${nextRelease.version}-jar-with-dependencies.jar"
      }
    ]
  ]
}
